<p>pet-list works!</p>

<div *ngFor="let form of formList">
  <mat-card class="pet-list-entry">
    <mat-card-title-group>
      <mat-card-title>Nume: {{form.name}}</mat-card-title>
      <mat-card-subtitle>Rasa: {{form.breed}}</mat-card-subtitle>
      <img mat-card-lg-image src="{{'data:image/jpg;base64,' + form.pic}}" >
    </mat-card-title-group>
    <mat-card-content>
      Pierdut de: {{form.username}} {{form.emailContact}}
    </mat-card-content>
  </mat-card>
</div>
<div *ngFor="let form of formList">
  <!-- <agm-marker [latitude]="form.lat" [longitude]="form.long"></agm-marker> -->
</div>
<!-- <input matInput type="text" [(ngModel)]="searchId" > -->
<!-- <button (click)="onSearchClickById()">CLICK TO SEARCH BY ID</button>
{{searchedForm.name}}
{{searchedForm.species}}

<input matInput type="text" [(ngModel)]="searchName" >
<button (click)="onSearchClickByName()">CLICK TO SEARCH BY Name</button>
{{searchedForm.name}}
{{searchedForm.species}} -->
