<div class="pet-data-form">
  <form [formGroup]="petForm" (ngSubmit)="onSubmit()">


    <mat-form-field appearance="standard">
    <label for="lostOrFoundPet"></label>
    <input matInput color="primary" id="lostOrFoundPet" type ="text" formControlName="lostOrFoundPet" placeholder="Lost or found pet">
    </mat-form-field>



    <mat-form-field appearance="standard">
    <label for="species"></label>
    <input matInput id="species" type ="text" formControlName="species" placeholder="Species">
    </mat-form-field>



    <mat-form-field appearance="standard">
    <label for="breed"></label>
    <input matInput id="breed" type ="text" formControlName="breed" placeholder="Breed">
    </mat-form-field>



    <mat-form-field appearance="standard">
    <label for="name"></label>
    <input matInput id="name" type ="text" formControlName="name" placeholder="Name">
    </mat-form-field>


    <mat-form-field appearance="standard">
    <label for="accessories"></label>
    <input matInput id="accessories" type ="text" formControlName="accessories" placeholder="Accessories">
    </mat-form-field>


    <mat-form-field appearance="standard">
    <label for="color"></label>
    <input matInput id="color" type ="text" formControlName="color" placeholder="Color">
    </mat-form-field>

    <mat-form-field appearance="standard">
    <label for="sized"></label>
    <input matInput id="sized" type ="text" formControlName="sized" placeholder="Sized">
    </mat-form-field>



    <mat-form-field appearance="standard">
    <label for="chip"></label>
    <input matInput id="chip" type ="text" formControlName="chip" placeholder="Chip">
    </mat-form-field>


    <mat-form-field appearance="standard">
    <label for="marks"></label>
    <input matInput id="marks" type ="text" formControlName="marks" placeholder="Marks">
    </mat-form-field>



    <mat-form-field appearance="standard">
    <label for="emailContact"></label>
    <input matInput id="emailContact" type ="email" formControlName="emailContact" placeholder="Email contact">
    </mat-form-field>


    <mat-form-field appearance="standard">
    <label for="phone"></label>
    <input matInput id="phone" type ="tel" formControlName="phone" placeholder="Phone">
    </mat-form-field>


    <div class="pic">
      <label for="pic" class="pic-label">Choose a picture
      </label>
      <input id="pic" type="file" (change)="onChange($event)">

      </div>

      <button type="submit" class="submit-button" >Submit</button>

  </form>

</div>
