.pet-data-form{
  display: flex;
  justify-content: space-around;
  width: 500px;
  border: 1px solid #a08679;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0px #a08679;

}

.mat-form-field{
  margin-left: 45px;
  justify-content: space-around;
}

.pic{
  padding-top: 20px;
  margin-left: 20px;
  float: right;
}

.submit-button {
  cursor: pointer;
  color: black;
  background-color: transparent;
  border: 1px solid #a08679;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  padding: 12px 12px;
  width: 20%;
  margin-left: 190px;

  outline: none;
  border-radius: 30px;
 }

 .submit-button:hover{
  color: #fff;
  box-shadow: 0 0 10px 0px #a08679;
  background-color: #a08679;
 }

 input[type="file"] {
  display: none;
}

.pic-label {
  cursor: pointer;
  color: black;
  background-color: transparent;
  border: 1px solid #a08679;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  padding: 6px 12px;
  margin-right: 75px;
  outline: none;
  border-radius: 30px;
}

.pic-label:hover{
  color: #fff;
  box-shadow: 0 0 10px 0px #a08679;
  background-color: #a08679;
 }


