<p>pet-map works!</p>
<div class="map-form-container">

  <app-pet-form [coordinates]="coordinatesFromMapClick" *ngIf="showForm"></app-pet-form>


  <div class="map-container">
    <div class="button-container">
      <button (click)="hideFoundMarkersFromMarkerList()">Lost pets markers</button>
      <button (click)="hideLostMarkersFromMarkerList()">Found pets markers</button>
    </div>

    <input
          id="pac-input"
          class="controls"
          type="text"
          placeholder="Search Box"
        />
    <div class="full" id="map"></div>
  </div>

</div>


  <div *ngIf="showLostFormList">
    <div *ngFor="let form of lostFormList" >
    <mat-card class="pet-list-entry">
      <mat-card-title-group>
        <mat-card-title>Nume: {{form.name}}</mat-card-title>
        <mat-card-subtitle>Rasa: {{form.breed}}</mat-card-subtitle>
        <img mat-card-lg-image src="{{form.pic}}" >
      </mat-card-title-group>
      <mat-card-content>
        Pierdut de: {{form.username}} {{form.emailContact}}
      </mat-card-content>
    </mat-card>
  </div>
  </div>
  <div *ngIf="showFoundFormList">
  <div *ngFor="let form of foundFormList">
    <mat-card class="pet-list-entry">
      <mat-card-title-group>
        <mat-card-title>Nume: {{form.name}}</mat-card-title>
        <mat-card-subtitle>Rasa: {{form.breed}}</mat-card-subtitle>

        <img mat-card-lg-image src="{{form.pic}}" >

      </mat-card-title-group>
      <mat-card-content>
        Gasit de: {{form.username}} {{form.emailContact}}
      </mat-card-content>
    </mat-card>
  </div>
  </div>
  <div *ngIf="showSelectedFormFromMark"><mat-card class="pet-list-entry">
    <mat-card-title-group>
      <mat-card-title>Nume: {{selectedFormFromMark.name}}</mat-card-title>
      <mat-card-subtitle>Rasa: {{selectedFormFromMark.breed}}</mat-card-subtitle>
      <img mat-card-lg-image src="{{selectedFormFromMark.pic}}" >
    </mat-card-title-group>
    <mat-card-content>
      {{selectedFormFromMark.lostOrFoundPet}} by: {{selectedFormFromMark.username}} {{selectedFormFromMark.emailContact}}
    </mat-card-content>
  </mat-card></div>

  <!-- <button (click)="hideFoundMarkersFromMarkerList()">Lost pets markers</button>
  <button (click)="hideLostMarkersFromMarkerList()">Found pets markers</button> -->
