


  <div class="cover">
    <div class="form-box">
      <div class="button-box">
        <div id="btn"></div>
        <button type="button" class="toggle-btn" >
          Log In
        </button>
        <button type="button" class="toggle-btn" routerLink = "../register">
          Register
        </button>
      </div>
      <div class="social-icons">
        <img src="fb.png" alt="facebook" />
        <img src="gp.png" alt="google" />
      </div>
      <form [formGroup] = "loginForm" class="input-group">
        <input
          class="input-field"
          placeholder="Username"
          id="login-username"
          required
          matInput formControlName="username"
        />
        <input
        type="password"
        class="input-field"
        placeholder="Password"
        id="login-password"
        required
        matInput formControlName="password"
        />
        <button  color="accent" class="submit-btn" (click) = "login()" [disabled]="!loginForm.valid">Login</button>
        <button color="accent" class="submit-btn" routerLink = "../forgot" >Forgot your password?</button>
        <button color="accent" class="submit-btn" routerLink = "/dashboard" >Go to home</button>
      </form>
    </div>
  </div>

