<header>
  <nav class="header-container">

      <a class="logo" routerLink="/dashboard/petmap"><img src="assets/logosmall.png" /></a>
      <div class="links-container">
        <a routerLink="/dashboard/home">Home</a>
        <a routerLink="/dashboard/petmap">Pet Map</a>
        <a routerLink="/dashboard/tips">Tips to find your pet</a>
      </div>
      <div class="login-container">
        <a routerLink="/dashboard/profile">Profile</a>
        <a  *ngIf="this.authService.isAuthenticated()"
            (click)="onLogoutButtonClick()" class="logout-button">Logout</a>
      </div>

  </nav>
</header>
