
<div class="cover">
  <div class="form-box">

    <div id="login" class="input-group">
      <input
        type="email"
        class="input-field"
        placeholder="Email"
        id="email"
        required
        [formControl]="forgotPasswordEmail"
      />
      <button color="accent" class="submit-btn" type="button" (click)="forgot()">Submit</button>
    <button color="accent" class="submit-btn" type="button" routerLink = "../login">Back to login</button>
    </div>
<!-- <label for="name">Email: </label>
<input id="forgotPasswordEmail" type="text" [formControl]="forgotPasswordEmail"> -->


</div>
</div>
