<div class="tips-content">


  <div class="wait">
    <h2>Don't Wait 🕔</h2>
    <p>Start your search right away.</p>
    <p>Get out immediately and start shouting and making a lot of noise.</p>
    <p>The simple 'lost' posters are often good ways
      to get the word
      out, knocking on doors, waving down cars... most dogs and cats stay fairly close to where they were originally
      lost.</p>

    </div>
  <div class="flyer">
    <h2>Make Flyers and Consider a Reward</h2>
    <p>Make up flyers with your pet's photo, age, gender, breed and color, and your contact information. Distribute
      them to neighbors, area businesses, veterinary offices, police departments, and animal shelters. You can also
      post them at traffic intersections and pet supply stores.</p>
    <p>Offer a reward, if you want, but protect against scams by omitting an identifying trait in your pet's
      description. If someone claiming to have found your pet doesn't mention the omitted trait, he may not have your
      pet. Be wary of people who insist that you give or wire them money for the return of your pet.</p>
    </div>



  <div class="search">
    <h2>Search Repeatedly and Look in Hiding Places</h2>
    <p>Walk or drive through your neighborhood several times a day, showing neighbors, mail carriers, and delivery
      people a photo of your pet. Give out flyers.</p>
    <p>File a lost pet report with every shelter within a 60-mile radius of your home and visit the nearest shelters
      daily, if possible. To find local shelters, check the phone book or do a search online.</p>
    <p>Keep in mind that pets are often afraid when they're lost and find hiding places, usually nearby.</p>
    <p>Dogs look for sheds or vacant spaces, and come out when it's dark to search for food, usually on roads.</p>
    <p>Cats typically won't stray more than 400 yards from the house, but their hiding spots may be harder to find and
      to access.</p>
  </div>
  <div class="collar-tag">
    <h2 >Get Collar Tags</h2>
    <p>A good, minimalistic way, for the pet to have some information about the owner, is to get him a collar tag with the owner's phone number written on it.</p>
  </div>
  <div class="microchip">
    <h2>Microchips</h2>
    <p>Microchips the size of a grain of rice can be implanted under your pet's skin, usually between the shoulder
      blades. They transmit an identification code and the phone number of the appropriate registry via radio
      frequency waves.</p>
    <p>Most shelters and veterinarian offices can implant the microchip, and most have the scanners needed to read
      them. The cost of the chip and implantation is typically no more than $75. In addition, the owner of the dog
      must submit the appropriate documents and fee to register the chip with the parent company; if this step is
      overlooked, the microchip is useless if the dog is lost. </p>
    <p>If a pet is found, the shelter or veterinarian will routinely scan for a chip and contact the registry. In
      turn, the microchip company will contact the pet owner.</p>
    <p>According to one study describing stray animals in shelters, nearly 60% of microchipped dogs and cats were
      registered in a database. The majority of these owners were successfully contacted and the animals safely
      returned home.</p>
  </div>

</div>
