

<div class="cover">
  <div class="form-box">
    <div class="button-box">
      <div id="btn"></div>
      <button type="button"  class="toggle-btn" routerLink = "../login">
        Log In
      </button>
      <button type="button"  class="toggle-btn" >
        Register
      </button>
    </div>
    <div class="social-icons">
      <img src="fb.png" alt="facebook" />
      <img src="gp.png" alt="google" />
    </div>

    <form [formGroup] = "registerForm" class="input-group">
      <input

        type="email"
        class="input-field"
        placeholder="Email"
        id="email"
        formControlName="email"
        required
      />
      <input
        type="text"
        class="input-field"
        placeholder="Username"
        id="register-username"
        formControlName="username"
        required
      />
      <input
        type="password"
        class="input-field"
        placeholder="Enter Password"
        id="register-password"
        formControlName="password"
        required
      />

      <button type="submit" class="submit-btn" [disabled]="!registerForm.valid" (click) = "register()">Register</button>
    </form>
  </div>
</div>
